<td>
  <p>
    <%= link_to friend.first_name + friend.last_name, friend %>
  </p>
</td>
<td>
  <p>
    <%# <strong>Emial:</strong> %>
    <%= friend.emial %>
  </p>
</td>
<td>
  <p>
    <%# <strong>Phone:</strong> %>
    <%= friend.phone %>
  </p>
</td>
<td>
  <p>
    <%# <strong>Twitter:</strong> %>
    <%= friend.twitter %>
  </p>
</td>
