<% if user_signed_in? %> 

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Twitter</th>
        </tr>
    </thead>
    
    <tbody>
      <div id="friends">
        <% @friends.each do |friend| %>
          <% if friend.user == current_user%>
            <tr>
                <%= render "/friends/friendTable", friend: friend %>
            </tr>
          <% end %>  
        <% end %>
      </div>
    </tbody>
  </table>

  <%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>
<% else %>
  <h1>Hello World! </h1 >
  This is my first Rails WebPage... 
<% end %>